/* use rgb to set opacity (4th value) leaving text w normal visibility */
.ui.centered.cards > .ui.card.species-card {
  background: rgb(134, 152, 133, .3);
}


.ui.centered.cards > .ui.card.species-card > .content > a:hover {
  color: #27c73A;
}

.ui {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;

}

div > a > h2 {
  color: #D9755A;

  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* all cards displayed selected by selector below */
#root > div > div > div > div {
  /* background: red; */
}

.status {
  color: #D9755A;
  font-style: italic;
}
div > div > h3 {
  /* color: orange; */
  /* opacity: 1.5; */
}

